/* Animation 1: Falling
   Bolden falder konstant fra oven. */
.falling {
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bouncing {
  animation-name: bouncing;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.drop {
  animation-name: drop;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.pattern {
  animation-name: pattern;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.fade_out {
  animation-name: fade_out;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.fade_in {
  animation-name: fade_in;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rotation {
  animation-name: rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rotation2 {
  animation-name: rotation2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(0, 300%);
  }
}

@keyframes bouncing {
  0% {
    transform: translate(0, -100%);
  }

  50% {
    transform: translate(0, 150%);
  }

  100% {
    transform: translate(0, -100%);
  }
}

@keyframes drop {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(0, 150%);
  }
}

@keyframes pattern {
  0% {
    transform: translate(0, -200%);
  }

  25% {
    transform: translate(100%, -100%);
  }

  50% {
    transform: translate(-100%, -50%);
  }

  75% {
    transform: translate(50%, 0%);
  }

  100% {
    transform: translate(0, 200%);
  }
}

@keyframes zoom_out {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes zoom_in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  0% {
    transform: rotate(0deg) translate(100px);
  }

  100% {
    transform: rotate(360deg) translate(100px);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0px 0px 100px red);
  }

  50% {
    filter: drop-shadow(0px 0px 10px green);
  }

  100% {
    filter: drop-shadow(0px 0px 100px blue);
  }
}

/* @keyframes glow {
  0% {
    box-shadow: 0px 0px 10px blue;
  }

  50% {
    box-shadow: 0px 0px 50px blue;
  }

  100% {
    box-shadow: 0px 0px 10px blue;
  }
} */
