section {
  display: flex;
  flex-wrap: wrap;
}

article {
  margin: 1vw;
}

.animation {
  border: 2px solid black;
  width: 20vw;
  height: 20vw;
  position: relative;
  overflow: hidden;
}

.animation > div {
  position: absolute;
  top: 7.5vw;
  left: 7.5vw;
}

.animation img {
  width: 5vw;
  aspect-ratio: 1 / 1;
}

.text {
  max-width: 20vw;
}

.text h1,
.text p {
  margin: 0;
}

#animation_11 .animation {
  background-color: #aaa;
}
